<%- include partials/header.ejs%>
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="./planningSupports">Planning Supports</a></li>
    <li><a href="./currConn_8Tab">Curriculum Connections (k-Gr8 Tabloid)</a></li>
</ol>


<main class="container">
<h1>Curriculum Connections (k-Gr8 Tabloid)</h1>
<div class="gen-pdf" style="margin">
    <a href="/pdf/CurriculumConnectionsGradesK-8-Tabloid.pdf" target="_blank">Download PDF</a>
</div>

<%- include partials/footer.ejs%>
