<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./fracResearchSum">Fractions Research Summary</a></li>
</ol>


<main class="container">
<!-- Insert content here-->
<h1>Fractions Research Summary</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xiCpmAFFSAg" frameborder="0" allowfullscreen></iframe>
<%- include partials/footer.ejs%>
